/******************* Font *******************/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@900&family=Lato:wght@300&display=swap');



body {
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Dancing Script';
}


/******************* Navbar *******************/

.nav-item {
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

/******************* Logo *******************/
#logo {
    color: #34A56F;
    font-family: 'Dancing Script';
    font-size: 40px;
}

/******************* Footer *******************/
footer a {
    color: #34A56F;
    font-size: 20px;
}

/******************* Color and size for the login/register button *******************/
.btn-signup {
    background-color: #2E8B57;
    color: #fff;
}


/******************* Background image for the home page *******************/
.header-image {
    height: 100%;
    width: 100%;
}

/******************* Add padding above text for welcome to What To Eat recipes home page *******************/
.home-wte-welcome {
    padding-top: 50px;
}

/******************* Add padding above/bottom the cards for recipes *******************/
.card-row {
    padding-top: 60px;
    padding-bottom: 30px;
}

/******************* Media Query *******************/

@media only screen and (max-width: 750px){

    .copyright {
        font-size: 12px;
    }

}
