/******************* Font *******************/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@900&family=Lato:wght@300&display=swap');


body {
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Dancing Script';
}


/******************* Navbar *******************/

.nav-item {
    font-family: "Lato";
    font-size: 20px;
}

/******************* Logo *******************/
#logo {
    color: #34A56F;
    font-family: 'Dancing Script';
    font-size: 40px;
}

/******************* Footer *******************/
footer a {
    color: #34A56F;
    font-size: 20px;
}

/******************* Color and size for the login/register button *******************/
.btn-signup {
    background-color: #2E8B57;
    color: #fff;
}


/******************* Background image for the home page *******************/
.header-image {
    height: 100%;
    width: 100%;
}

/******************* Styling for caption on the start page *******************/
.caption {
    position: absolute;
    top: 30%;
    left: 35%; 
    padding: 10px; 
}

/******************* Add padding above text for welcome to What To Eat recipes home page *******************/
.home-wte-welcome {
    padding-top: 50px;
}

/******************* Add padding above/bottom the cards for recipes *******************/
.card-row {
    padding-top: 60px;
    padding-bottom: 30px;
}

/******************* Media Queries *******************/

@media only screen and (max-width: 1450px){

    .caption {
        left: 30%; 
    }

}

@media only screen and (max-width: 1300px){

    .caption-header {
        font-size: 20px;
    }

    .caption-text {
        font-size: 14px;
    }

}

@media only screen and (max-width: 1100px){

    .caption {
        left: 25%; 
    }

}

@media only screen and (max-width: 994px){

    .caption-header {
        font-size: 18px;
    }

    .caption-text {
        font-size: 12px;
    }

    .caption {
        left: 30%; 
    }

}

@media only screen and (max-width: 912px){

    .caption {
        left: 25%; 
    }

}

@media only screen and (max-width: 812px){

    .caption {
        left: 20%; 
    }

}

@media only screen and (max-width: 750px){

    .copyright {
        font-size: 12px;
    }

}

@media only screen and (max-width: 630px){

    .caption {
        left: 15%; 
    }

}

@media only screen and (max-width: 585px){

    .caption-header {
        font-size: 16px;
    }

    .caption-text {
        font-size: 10px;
    }

    .caption {
        top: 25%;
        left: 17%;
    }

}

@media only screen and (max-width: 510px){

    .caption-header {
        font-size: 14px;
    }

    .caption-text {
        font-size: 9px;
    }

    .caption {
        top: 20%;
        left: 17%;
    }

}

@media only screen and (max-width: 510px){

    .caption {
        left: 14%;
    }

}

@media only screen and (max-width: 430px){

    .caption {
        left: 8%;
        top: 18%;
    }

}

@media only screen and (max-width: 365px){

    .caption {
        left: 10%;
        top: 20%;
    }

    .caption-header {
        font-size: 11px;
    }

    .caption-text {
        font-size: 7px;
    }

}
