/******************* Font *******************/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script:wght@900&family=Lato:wght@300&display=swap');


body {
    background-color: #ffffff;
}

/******************* Navbar *******************/
.navbar {
    
}

/******************* Logo *******************/
#logo {
    color: black;
    font-family: ;
    font-size: ;
}


/******************* Color and size for the login/register button *******************/
.btn-signup {
    background-color: green;
    color: #fff;
}


/******************* Background image for the home page *******************/
.header-image {
    height: 100%;
    width: 100%;
}

/******************* Add padding above text for welcome to What To Eat recipes home page *******************/
.home-wte-welcome {
    padding-top: 50px;
}

/******************* Add padding above/bottom the cards for recipes *******************/
.card-row {
    padding-top: 60px;
    padding-bottom: 30px;
}

/******************* About Modal, about link button, title, body text *******************/

.about-text {
    
}

/******************* Delete Modal, delete recipe button, body text *******************/