{% extends 'base.html' %}

{% load static %}

<!-- Title for page -->
{% block title %}
    User favorite recipes
{% endblock %}

{% block content %}
    <!--  -->
    <section>
        <div class="col-lg-5 col-11 m-auto m-2 p-3 text-center">
            <h1 class="display-1">{{ user.username }} favorite recipes!</h1>
        </div> 
        <!-- Back to home page button -->
        <div class="m-2 text-center">
            <a href="{% url 'home' %}" class="btn btn-signup btn-md">Home</a>
        </div>
    </section>

{% endblock %}