{% extends 'base.html' %}

{% load static %}

<!-- Title for page -->
{% block title %}
    What To Eat 500 page
{% endblock %}

{% block content %}
    <!-- error 500 container -->
    <section>
        <div class="col-lg-5 col-11 m-auto m-2 p-3 text-center">
            <h1 class="display-1 fw-bolder yellow">500</h1>
            <h2>There was an error!</h2> <hr>
            <h2>The server is not responding, please try again later.</h2>
        </div> 
        <!-- Back to home page button -->
        <div class="m-2 text-center">
            <a href="{% url 'home' %}" class="btn btn-signup btn-md">Home</a>
        </div>
    </section>

{% endblock %}