{% extends 'base.html' %} 

{% load static %}

{% block title %}
    Home page
{% endblock %}

<!-- Background image for home.html -->
    {% block header_image %}
    {% if not 'page' in request.GET %}
    <header>
        <div class="parent-div-home">
            <div class="row g-0">
                <img class="header-image" src="https://res.cloudinary.com/erikandersson96/image/upload/v1657703341/spaghetti-g0a0a251b7_1920_nzhlua.jpg" alt="Spaghetti background image">
            </div>
            <!-- Caption on home page -->
            <div class="bg-dark rounded text-light text-center caption">
                <h2 class="caption-header">Welcome to What To Eat! {{ request.GET.page }}</h2>
                    <p class="caption-text">This is a recipe website were you can see all of our delicious recipes. <br> 
                        If you wish to add your own recipes, you can do so by create an account or login.</p>
            </div>
        </div>
    </header>
    {% endif %}
    {% endblock %}
{% block content %} 

    <!-- Check if user is authenticated to make the welcome message personal or not -->
    <div class="container text-dark text-center home-wte-welcome">
        {% if user.is_authenticated %}
            <h1 class="title p-4 text-center">Welcome to What To Eat - Recipes, {{ user.username }}.</h1>
            <h2 class="text-center">Choose a delicious recipe for todays dinner:</h2>
                
        {% else %} 
            <h1 class="title p-4 text-center">What To Eat - Recipes.</h1>
            <p class="text-center">Here is all of our recipes listed for you.</p>
            <h2 class="text-center">Choose a delicious recipe for todays dinner:</h2>
               
        {% endif %} 
    </div>

    <div class="container text-center text-md-left mb-3">
        <div class="row text-center text-md-left g-3 card-row">
            
            {% for recipe in object_list %}
            <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
                <div class="card box-shadow h-100">
                    {% if "placeholder" in recipe.meal_image.url %}
                    <img class="card-img-top" src="{% static 'site_images/standard-food-image.jpg' %}" alt="Plate with pasta">
                    {% else %}
                    <img class="card-img-top" src="{{ recipe.meal_image.url }}" alt="{{ recipe.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{ recipe.title }}</h3>
                        <p class="card-text">{{ recipe.excerpt }}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item align-items-center">Difficulty: {{ recipe.difficulty }}</li>
                        <li class="list-group-item align-items-center">Servings: {{ recipe.serves }}</li>
                        <li class="list-group-item align-items-center">Prep time: {{ recipe.prep_time }} min</li>
                        <li class="list-group-item align-items-center">Cook time: {{ recipe.cook_time }} min</li>
                        <li class="list-group-item align-items-center">Created by: {{ recipe.author }}</li>
                    </ul>
                    <!-- Add url 'recipe_detail' recipe.slug within anchor tags for card footer href!!!!-->
                    <div class="card-footer">
                         <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-signup align-items-center">View recipe</a> 
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
            <div class="row mt-3">
                {% if is_paginated %}
                <nav aria-label="Page Navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;
                                    Previous</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
{% endblock %}





