{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Add recipe page
{% endblock %}

{% block content %}
    <!-- Check if user is authenticated so he/she can add their own recipe -->
    {% if user.is_authenticated %}
        <div class="container text-dark">
            <div class="row">
                <div class="col mt-3 mb-5">
                    <!-- Add Css styling for h2 use ".text-box" -->
                    <div class="text-box rounded">
                        <h2 class="what-to-eat-text">Add your own Recipe</h2>
                        <hr>
                    </div>
                    <form action="?action=save" method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                {% csrf_token %}
                                <div class="row">
                                    {{ recipe_form.title|as_crispy_field | safe }}
                                </div>
                                <div class="row">
                                    {{ recipe_form.excerpt|as_crispy_field | safe }}
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ recipe_form.difficulty|as_crispy_field | safe }}
                                    </div>
                                    <div class="col-6">
                                        {{ recipe_form.serves|as_crispy_field | safe }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ recipe_form.prep_time|as_crispy_field | safe }}
                                    </div>
                                    <div class="col-6">
                                        {{ recipe_form.cook_time|as_crispy_field | safe }}
                                    </div>
                                </div>
                                <div class="row">
                                    {{ recipe_form.ingredients|as_crispy_field | safe }}
                                </div>
                                <div class="row">
                                    {{ recipe_form.instructions|as_crispy_field | safe }}
                                </div>
                                <div class="row">
                                    {{ recipe_form.meal_image|as_crispy_field | safe }}
                                    <p>A default image will be choosen for this recipe if you don't add your own.</p>
                                </div>
                                <button type="submit" class="btn btn-signup btn-lg">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col mt-3 mb-5 text-center">
                    <h1 class="mb-5">You have to login to add your own recipes!</h1>
                    <p>Please <a href="{% url 'account_signup' %}">register</a> an account or <a href="{% url 'account_login' %}">login</a> to share your own recipes.</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}