{% extends 'base.html' %}

{% load static %}


{% block content %}
    <!-- Check if user is authenticated so he/she can edit the recipe -->
    {% if user.is_authenticated %}
        <div class="container text-dark">
            <div class="row">
                <div class="col mt-3 mb-5">
                    <!-- Add Css styling for h2 use ".text-box" -->
                    <div class="text-box rounded">
                        <h2 class="what-to-eat-text">Edit Recipe</h2>
                    </div>
                    <form action="?action=save" method="post" style="margin-top: 1.3em;" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                {% csrf_token %}
                                <div class="row">
                                    {{ recipe_form.title }}
                                </div>
                                <div class="row">
                                    {{ recipe_form.excerpt }}
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ recipe_form.difficulty }}
                                    </div>
                                    <div class="col-6">
                                        {{ recipe_form.serves }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{ recipe_form.prep_time }}
                                    </div>
                                    <div class="col-6">
                                        {{ recipe_form.cook_time }}
                                    </div>
                                </div>
                                <div class="row">
                                    {{ recipe_form.ingredients }}
                                </div>
                                <div class="row">
                                    {{ recipe_form.instructions }}
                                </div>
                                <div class="row">
                                    {{ recipe_form.meal_image }}
                                </div>
                                <button type="submit" class="btn btn-signup btn-lg">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
    {% endif %}

{% endblock %}