{% extends 'base.html' %}

{% load static %}


<!-- Main Content for Recipe Detail -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Recipe header -->
            <header class="mb-4">
                <!-- Recipe Title -->
                <h1 class="fw-bolder mb-1 what-to-eat-text">{{ recipe.title }}</h1>
                <!-- Recipe: created on, author -->
                <div class="text-muted fst-italic mb-2">
                    <p>This recipe was created: {{ recipe.created_on }}, by author: {{ recipe.author }}.</p>
                </div>
            </header>
            <div class="container">
                <!-- Image of recipe -->
                <div class="row">
                    <figure class="mb-5">
                        {% if "placeholder" in recipe.meal_image.url %}
                            <img src="{% static 'site_images/standard-food-image.jpg' %}" alt="Plate with pasta" class="img-fluid rounded" id="standard-recipe-image">
                        {% else %}
                            <img src="{{ recipe.meal_image.url }}" alt="{{ recipe.title }}" id="standard-recipe-image">
                        {% endif %}
                    </figure>
                </div>
            </div>
        </div>
            <!-- Side Lists -->
            <div class="col-lg-4">
                <div class="row">
                    <!-- Recipe details on rigth side -->
                    <div class="card mt-4 mb-4">
                        <div class="card-header">
                            <h3 class="recipe-info-text">Recipe Details</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-group-item">Difficulty: {{ recipe.difficulty }}</li>
                                        <li class="list-group-item">Servings: {{ recipe.serves }}</li>
                                        <li class="list-group-item">Prep time: {{ recipe.prep_time }} min</li>
                                        <li class="list-group-item">Cook time: {{ recipe.cook_time }} min</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recipe Ingredients -->
                <div class="row">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="recipe-info-text">Ingredients</h3>
                        </div>
                        <div class="card-body">{{ recipe.ingredients | safe }}</div>
                    </div>
                </div>
            </div>
        </div>
        <section class="row mb-5">
            <div class="fs-5 mb-4">
                <h3 class="recipe-info-text">Cook Method</h3>
                {{ recipe.instructions | safe }}
            </div>
        </section>
        <div class="col mt-2 mb-3">
            <!-- Authentication for edit and delete recipe -->
            {% if user.id == recipe.author.id %}
                <a href="{% url 'edit_recipe' recipe.slug %}" class="edit"><button class="btn btn-signup btn-md" value="{{ recipe.slug }}" type="button">Edit recipe</button></a>
                <a href="{% url 'delete_recipe' recipe.slug %}" class="confirm-delete delete"><button class="btn btn-danger btn-md mx-4" value="{{ recipe.slug }}" type="button">Delete recipe</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}